Reconocimiento de Patrones MP-6122
Fernando Paris Kikut
Investigacion Contra 1

Pandas Overview

Pandas provides extensive means for data analysis.

In [2]:
# In order to use Pandas library, first ste is to import it as well as all required libraries

import pandas as pandas
import numpy as numpy                # multi-dimensional arrays and matrices support
import matplotlib.pyplot as plt      # plot support

There are two maun data structures use in Pandas to encapsullate the data to analyze:
DataFrame: two-dimensional spreadsheet alike data structure.
Series: one-dimensional array

Pandas supports several data input formats such as:
Comma separate values (.csv)
Javascript Object Notation (.json)
Microsoft Excel Spreadsheets (.xlsx)
Structured Query Language (.sql)

In order to start playing around with the data to be analyzed, the dataset should be imported/loaded

In [10]:
# Load dataset
dataSet = pandas.read_csv('distance-travelled-by-ethnicity-over-time.csv')

Once the dataset is loaded, one can get general information, display the data, filter the data, select, sort and perform mathematical and statistics operations among many other features and capabilities.

# Dataset General Information

In [11]:
# Print general Information
print(dataSet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 4 columns):
Ethnicity    72 non-null object
Time         72 non-null object
Miles        72 non-null object
Trips        72 non-null object
dtypes: object(4)
memory usage: 2.3+ KB
None

In [12]:
# Print dataframe size [rows columns]
print(dataSet.shape)

(72, 4)

# Dataset analysis

In [13]:
# Display Column info
print(dataSet.columns)

Index(['Ethnicity', 'Time', 'Miles', 'Trips'], dtype='object')

In [14]:
# Sort Data
dataSet.sort_values(by='Miles', ascending=True).head(10)

   Ethnicity     Time  Miles Trips
69     Other  2011/15  4,048   754
70     Other  2012/16  4,107   783
35     Black  2013/17  4,190   778
71     Other  2013/17  4,262   796
34     Black  2012/16  4,280   792
33     Black  2011/15  4,360   799
63     Other  2005/09  4,386   863
31     Black  2009/13  4,394   813
66     Other  2008/12  4,429   798
64     Other  2006/10  4,438   865